name: ci
on:
  push:
  pull_request:
jobs:
  setup_script_unix:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: temurin
    - uses: actions/checkout@v6
    - run: ./setup.sh
    - run: ~/.conscript/bin/cs --version
  setup_script_windows:
    timeout-minutes: 10
    runs-on: windows-latest
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: temurin
    - uses: actions/checkout@v6
    - run: Powershell.exe -File setup.ps1
    - shell: cmd
      run: "%HOMEDRIVE%%HOMEPATH%\\.conscript\\bin\\cs --version"
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
          - java: 11
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: "${{ matrix.java }}"
        distribution: temurin
    - uses: actions/checkout@v6
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt -v test
    - run: |
        sbt -v publishLocal plugin2_12/scripted plugin3/scripted &&
        java -jar ./target/scala-2.11/proguard/conscript-*.jar --version
  push_gh_pages:
    needs: [test, setup_script_unix, setup_script_windows]
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-java@v5
      with:
        java-version: 8
        distribution: temurin
    - uses: actions/checkout@v6
      with:
        fetch-depth: 10
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: sbt makeSite
    - name: Push to gh-pages
      if: ${{ github.repository_owner == 'foundweekends' && github.ref == 'refs/heads/master' && github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: target/site
        CLEAN: true
